<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlwFFb3er9aaIUX9ItLjBwRRJCkLBmkP4</string>
	<key>GCM_SENDER_ID</key>
	<string>868652296203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codecarnival</string>
	<key>PROJECT_ID</key>
	<string>practice-c374e</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-c374e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868652296203:ios:104b4109403211dd6cbf0e</string>
</dict>
</plist>